# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
dist/
build/
*.pkl

# Node
node_modules/
dist/
.env.local
.env.production

# Env files
.env
!.env.example

# DB
*.sqlite3
pgdata/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
